<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>language_name</key>
		<string>Kurdish</string>
		<key>native_name</key>
		<string>کوردی</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>German</string>
		<key>native_name</key>
		<string>Deutsch</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Arabic</string>
		<key>native_name</key>
		<string>العَرَبِيَّة‎‎</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>English</string>
		<key>native_name</key>
		<string>English</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Swedish</string>
		<key>native_name</key>
		<string>Svenska</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Albanian</string>
		<key>native_name</key>
		<string>shqip</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Dutch</string>
		<key>native_name</key>
		<string>Nederlands</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>French</string>
		<key>native_name</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Russian</string>
		<key>native_name</key>
		<string>Русский</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Italian</string>
		<key>native_name</key>
		<string>Italiano</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Spanish</string>
		<key>native_name</key>
		<string>Español</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Polish</string>
		<key>native_name</key>
		<string>Polski</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Portuguese</string>
		<key>native_name</key>
		<string>Português</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Ukrainian</string>
		<key>native_name</key>
		<string>Українська</string>
	</dict>
	<dict>
		<key>New item</key>
		<string></string>
		<key>language_name</key>
		<string>Catalan</string>
		<key>native_name</key>
		<string>Català</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Persian</string>
		<key>native_name</key>
		<string>فارسی</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Serbo-Croatian</string>
		<key>native_name</key>
		<string>Srpskohrvatski / Српскохрватски</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Norwegian (Bokmål)</string>
		<key>native_name</key>
		<string>Norsk (Bokmål)</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Turkish</string>
		<key>native_name</key>
		<string>Türkçe</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Finnish</string>
		<key>native_name</key>
		<string>Suomi</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Hungarian</string>
		<key>native_name</key>
		<string>Magyar</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Romanian</string>
		<key>native_name</key>
		<string>Română</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Czech</string>
		<key>native_name</key>
		<string>Čeština</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Pashto</string>
		<key>native_name</key>
		<string>پښتو‎</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Serbian</string>
		<key>native_name</key>
		<string>Српски / Srpski</string>
	</dict>
	<dict>
		<key>language_name</key>
		<string>Malay</string>
		<key>native_name</key>
		<string>Bahasa Melayu</string>
	</dict>
</array>
</plist>
